<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/laout1}">

<th:block layout:fraqment="script">

    <script th:inline="javascript">
        $(document).ready(function(){

            var errorMessage= [[${errorMessage}]];

            if(errorMessage !=Null){
                alert(errorMessage);
            }

            binDomeEvent();

        });

        function bindDomEvent(){
            $(".custom-file-input").on("change",function() {
                var fileName = $(this).val().split("\\").pop(); //이미지 파일명
                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1);
                fileExt=fileExt.toLowerCase();
                console.log(fileName, fileExt);
                if(fileExt != "jpg" && fileExt != "jpeg" && fileExt !="gif" && fileExt !="png" && fileExt != "bmp"){
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }
                    $(this).siblings(".custom-file-label").html(fileName);
                });

        }

    </script>
</th:block>


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>